.board-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-inner {
  background: rgb(40, 40, 40);
  border-collapse: separate;
}

.board-inner td {
  height: 50px;
  width: 50px;
  border-width: thick;
  border-style: solid;
}

.player-icon {
  height: 50%;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  background: mediumvioletred;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(100, 100, 100);
}

.moves-list {
  margin-left: 1em;
  min-width: 6em;
}
