* {
  box-sizing: border-box;
}

.board-container {
  padding: 30px;
  background: rgb(80, 80, 80);
}

.board-inner {
  background: rgb(40, 40, 40);
}

.board-inner td {
  height: 50px;
  width: 50px;
  border-width: thick;
  border-style: solid;
}

.player-icon {
  height: 50%;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  background: azure;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.moves-list {
  margin-left: 1em;
  min-width: 6em;
}
